@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

a {
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
}

.side-photo {
    display: block;
    max-height: 100vh;
}

.image-container {
    position: relative;
}

.image-credit {
    position: absolute;
    width: 100%;
    bottom: 8px;
    text-align: center;
}

.image-credit-text {
    color: rgb(255, 255, 255);
}

.odin-logo {
    opacity: 1;
    width: 15%;
    height: 100%;
}

.logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    top: 128px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.brand-name {
    font-family: norse-bold, Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 72px;
    margin: 0;
}

.opening-text,
.opening-text-cta {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-left: 64px;
    margin-right: 256px;
}

.opening-text {
    margin-top: 128px;
}